.custom-nav-link {
  max-width: 150px; /* Adjust the value as per your needs */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav-link {
  font-weight: 600;
  color: #0a9644;
  font-size: small;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-links {
  padding: 0;
}

.navigations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.coin {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: rotate_4001510 7s infinite linear;
  transform-style: preserve-3d;
  width: 12%;
}

.coin .side,
.coin:before,
.coin:after {
  content: "";
  width: 1em;
  height: 1em;
  overflow: hidden;
  border-radius: 50%;
  right: -0.4em;
  line-height: 1;
  transform: rotateY(-90deg);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.coin .tails,
.coin:after {
  left: -0.4em;
  transform: rotateY(90deg);
}

.coin:before,
.coin:after {
  background: linear-gradient(#faa504, #141001);
  backface-visibility: hidden;
  transform: rotateY(90deg);
}

.coin:after {
  transform: rotateY(-90deg);
}

@keyframes rotate_4001510 {
  100% {
    transform: rotateY(360deg);
  }
}
